
@media screen and (min-width:480px){
.mainDiv{
   
    background-color: rgb(176, 233, 233);
    margin: auto;
    
    
   
}}

@media screen and (min-width:480px ){
.labels{
    padding-top: 10px;
 /* background-color: rgb(176, 233, 233); */
 float: left;
height: 290px;
}
}

@media screen and (min-width:480px ){
.textField{
    /* margin-right: 900px; */
    /* background-color: green; */
    padding-top: 10px;
}}

@media screen and (min-width:480px ){
.input-control{
    
   border-radius: 25px;
  border: 1px solid black;
  padding: 20px; 
  width: 250px;
  height: 10px;  
  margin-bottom: 3px;
  outline: none;
}}
@media screen and (min-width:480px ){
.label-input{
    
    padding-bottom: 14.5px;
    padding-left: 10px;
    padding-right: 20px;
  
}}




